html {
  padding: 0;
  margin: 0;
  background-color: #dbd9d9;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  /* padding: 10px; */
  margin: 0;
  h1 {
    margin: 0;
  }
}

.thread_header {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: auto;
  .thread_button_link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


/* 共通要素 */
.wrapper {
  width: 600px;
  padding: 0 0 120px 0;
  margin: auto;
}

.thread_h2 {
  font-weight: bold;
}

.thread_button_link {
  text-decoration: none;
  color: black;
}

.thread_button {
  width: 100px;
  height: 40px;
  border-radius: 5%;
  font-weight: bold;
  color: white;
  background-color: blue;
}


/* 個別要素 */
/* ThreadList */
.thread_ul {
  width: 100%;
  height: 50px;
  padding: 0;
  margin: auto;
}

.thread_li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: white;
  margin: auto;
  border: 1px solid black;
  align-items: center;
  list-style: none;
  a {
    width: 100%;
    padding: 0 0 0 10px;
    text-decoration: none;
    color: black;
  }
}

/* CreateThread */
#thread_title {
  width: 100%;
  height: 30px;
}

.thread_button_div {
  display: flex;
  justify-content: left;
  gap: 40px;
  margin: 40px 0 0 0;
  a {
    /* text-decoration: none; */
    color: black;
    :hover {
      color: blue;
    }
  }
}

/* EachThread */
.each_thread_wrapper {
  width: 900px;
  margin: auto;
}

.each_post_ul {
  padding: 0;
}

.each_post_li {
  width: 100%;
  height: 120px;
  margin: 0 0 20px 0;
  /* border: 1px solid black; */
  background-color: white;
  list-style: none;
  color: black;
  display: flex;
  align-items: center;
  padding: 0 0 0 60px;
}

.post_button_div {
  display: flex;
  justify-content: left;
  margin: 60px 0 0 0;
  /* gap: 40px; */
  .thread_button {
    margin: 0 0 0 40px;
  }
}

#thread_post {
  width: 60%;
  height: 80px;
}

